# main dependencies
Django>=1.5,<1.7
six
# for product advertising api
beautifulsoup4>=4.3.2
bottlenose>=0.6.2
celery>=3
python-dateutil>=2.4.1
# for pm api
djangorestframework>=2.3.13,<3
# for graphs
pygal>=1.5.1
# pygal png output
CairoSVG
tinycss
cssselect