{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>Amazon Price Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% get_static_prefix %}price_monitor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        {% block css %}
            <link href="{% get_static_prefix %}price_monitor/css/base.css" rel="stylesheet" media="screen">
            <link href="{% get_static_prefix %}price_monitor/css/inline-form.css" rel="stylesheet" media="screen">
        {% endblock %}
        <script src="{% get_static_prefix %}price_monitor/js/jquery-2.0.2.min.js"></script>
        {% block js %}
            <script src="{% get_static_prefix %}price_monitor/js/inline-form.js"></script>
            <script src="{% get_static_prefix %}price_monitor/js/site-sugar.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>
                {% block header %}{% endblock %}
            </h1>
            {% block content %}{% endblock %}
            <div class="row" id="footer">
                <div class="col-md-12">
                    CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON EU S.à r.l. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME.
                </div>
            </div>
        </div>
    </body>
</html>