{% extends 'price_monitor/base.html' %}
{% load price_monitor_charts %}


{% block js %}
    {% charts_load_js_amd_css 'line' %}
{% endblock %}


{% block header %}Charts-Demo{% endblock %}


{% block content %}
    {% for product in products %}
        {% if not forloop.counter|divisibleby:"2" %}<div class="row">{% endif %}
            <span class="span4">
                <h5>{{ product.title }}</h5>
                {% chart_line '280px' '160px' product.get_prices_for_chart 0 product.title '#62a9ff' %}
            </span>
        {% if forloop.counter|divisibleby:"2" %}</div>{% endif %}
    {% endfor %}
{% endblock %}
