% extends 'price_monitor/base.html' %}
{% load i18n static %}

{% block header %}Amazon Price Monitor - {% trans 'Email notifications' %}{% endblock %}

{% block content %}
    {% if email_notification_list %}
    {% endif %}
    
    <h3>{% trans 'Add new email notifications' %}</h3>
    <form class="form-inline" method="POST" action=".">
        {% csrf_token %}
        {{ creation_formset.management_form }}
        
        {% for form in creation_formset %}
        {% if forloop.first %}
            <div class="row">
                {% for field in form.visible_fields %}
                    <div class="span4"><h5>{{ field.label }}</h5></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="span4 control-group{% if form.errors or field.errors %} error{% endif %}">
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </form>
{% endblock %}