{% extends 'price_monitor/base.html' %}
{% load i18n %}

{% block header %}Amazon Prize Monitor{% endblock %}

{% block content %}
{% if product_list %}
    <h3>{% trans 'Already monitored products' %}</h3>
    <div class="accordion" id="product-list">
        {% for product in product_list %}
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#product-list" href="#{{ product.asin }}">
                    {{ product.title }}
                </a>
            </div>
            <div id="{{ product.asin }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <img src="{{ product.large_image_url }}" />
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3>{% trans 'Add new products' %}</h3>
<form class="form-inline" method="POST" action=".">
    {% csrf_token %}
    {{ creation_formset.management_form }}
    {% for form in creation_formset %}
        {% if forloop.first %}
            <div class="row">
                {% for field in form.visible_fields %}
                    <div class="span4"><h5>{{ field.label }}</h5></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="span4 control-group{% if form.errors or field.errors %} error{% endif %}">
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans 'Monitor ASINs' %}</button>
    </div>
</form>
{% endblock %}
