{% extends 'price_monitor/base.html' %}
{% load i18n %}

{% block header %}Amazon Prize Monitor{% endblock %}

{% block content %}
{% if product_list %}
    <h3>{% trans 'Already monitored products' %}</h3>
    <div class="accordion" id="product-list">
        {% for product in product_list %}
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#product-list" href="#{{ product.asin }}">
                    {{ product.title }}
                </a>
            </div>
            <div id="{{ product.asin }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <img src="{{ product.large_image_url }}" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

<h3>{% trans 'Add new product' %}</h3>
<form class="form-horizontal" method="POST" action=".">
    {% csrf_token %}
    {% for field in creation_form %}
        <div class="control-group{% if form.errors or field.errors %} error{% endif %}">
            <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans 'Monitor ASINs' %}</button>
    </div>
</form>
{% endblock %}
