{% extends 'price_monitor/base.html' %}
{% load cache i18n l10n price_monitor_price_diff price_monitor_util static %}

{% block header %}Amazon Price Monitor{% endblock %}

{% block content %}
{% if product_list %}
    <h3>{% trans 'Already monitored products' %}</h3>

    {% pagination %}

    <div class="accordion" id="product-list">
        {% for product in product_list %}
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ product.asin }}">
                    <div class="row">
                        <div class="col-xs-1">
                            {%  if product.small_image_url %}<img src="{{ product.get_image_urls|get:'small' }}" />{% else %}&nbsp;{% endif %}
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <div class="col-xs-6">
                                    {% with price=price_list|get:product.asin %}
                                        {% with subscription=subscription_list|get:product.asin %}
                                            <div class="row">
                                                <div class="col-xs-12"><strong>{{ product.title }}</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1">{% trans "Price" %}:</div>
                                                <div class="col-xs-11">
                                                    {% if price %}
                                                        {{ price.currency }} {{ price.value|floatformat:2 }} (as of {{ price.date_seen|localize }} {{ price.date_seen|date:"e" }} - <span data-toggle="tooltip" data-placement="top" title="{% blocktrans %}Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on {{ site_name }} at the time of purchase will apply to the purchase of this product.{% endblocktrans %}">{% trans "Details" %}</span>)
                                                    {% else %}
                                                        {% trans "No price information available." %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1">{% trans "Limit" %}:</div>
                                                <div class="col-xs-11">{{ default_currency }} {{ subscription.price_limit|floatformat:2 }} ({% price_diff price.value subscription.price_limit %})</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">&nbsp;</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <a href="{% url 'delete_subscription_view' subscription.public_id %}">
                                                        <span class="glyphicon glyphicon-remove"></span> {% trans "Remove" %}
                                                    </a>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endwith %}
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-6">Sorry, graphs are disabled for now.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% pagination %}
{% endif %}

<h3>{% trans 'Add new products' %}</h3>
<form class="form-inline" role="form" method="POST" action=".">
    {% csrf_token %}
    {{ creation_formset.management_form }}

    <div id="empty-line" class="row form-line">
        {% for field in creation_formset.empty_form.visible_fields %}
            <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %} control-group">
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-1 form-remove-button">
            <span class="glyphicon glyphicon-minus"></span>
        </div>
    </div>

    {% for form in creation_formset %}
        {% if forloop.first %}
            <div class="row">
                {% for field in form.visible_fields %}
                    <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %}"><h5>{{ field.label }}</h5></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row form-line">
            {% for field in form.visible_fields %}
                <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %} control-group{% if form.errors or field.errors %} error{% endif %}">
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-1 form-remove-button{% if forloop.first and forloop.last %} hidden{% endif %}">
                <span class="glyphicon glyphicon-minus"></span>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-10">
            <span id="form-add-button" class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-md-2">
            <button type="submit" name="create_products" class="btn btn-primary">{% trans 'Monitor ASINs' %}</button>
        </div>
    </div>
</form>
{% endblock %}
