{% extends 'price_monitor/base.html' %}
{% load i18n l10n price_monitor_charts price_monitor_util static %}

{% block header %}Amazon Price Monitor{% endblock %}

{% block js %}
    {{ block.super }}
    {% charts_load_js_amd_css 'line' %}
{% endblock %}

{% block content %}
{% if product_list %}
    <h3>{% trans 'Already monitored products' %}</h3>
    <div class="accordion" id="product-list">
        {% for product in product_list %}
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ product.asin }}">
                    <div class="row">
                        <div class="col-xs-1">
                            {%  if product.small_image_url %}<img src="{{ product.small_image_url }}" />{% else %}&nbsp;{% endif %}
                        </div>
                        <div class="col-xs-7">
                            {{ product.title }}
                        </div>
                        <div class="col-xs-4">
                            {% with price=price_list|get:product.asin %}
                                {% if price %}<span class="pull-right">{{ price.value|floatformat:2 }} {{ price.currency }} ({{ price.date_seen|localize }})</span>{% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div id="{{ product.asin }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% chart_line '1000px' '160px' product.get_prices_for_chart 0 product.title '#62a9ff' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<h3>{% trans 'Add new products' %}</h3>
<form class="form-inline" role="form" method="POST" action=".">
    {% csrf_token %}
    {{ creation_formset.management_form }}

    <div id="empty-line" class="row form-line">
        {% for field in creation_formset.empty_form.visible_fields %}
            <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %} control-group">
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="col-md-1 form-remove-button">
            <span class="glyphicon glyphicon-minus"></span>
        </div>
    </div>

    {% for form in creation_formset %}
        {% if forloop.first %}
            <div class="row">
                {% for field in form.visible_fields %}
                    <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %}"><h5>{{ field.label }}</h5></div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row form-line">
            {% for field in form.visible_fields %}
                <div class="col-md-{% if forloop.last %}3{% else %}4{% endif %} control-group{% if form.errors or field.errors %} error{% endif %}">
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-1 form-remove-button{% if forloop.first and forloop.last %} hidden{% endif %}">
                <span class="glyphicon glyphicon-minus"></span>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-10">
            <span id="form-add-button" class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-md-2">
            <button type="submit" name="create_products" class="btn btn-primary">{% trans 'Monitor ASINs' %}</button>
        </div>
    </div>
</form>
{% endblock %}
