{% load i18n %}
{% spaceless %}
    <div id="chart_{{ id }}">
        {% comment %} width should be =< margin.left + margin.right + 1 {% endcomment %}
        <svg style="display: block; height: {{ height }}; min-height: 100px; min-width: 100px;width: {{ width }};"></svg>
    </div>
    <script type="text/javascript">
        var chart_{{ id }};
        nv.dev = false;
        nv.addGraph(
            function() {
                chart_{{ id }} = nv.models.lineChart();
                chart_{{ id }}.x(
                     function(datapoint, idx) {
                         return idx;
                     }
                );
                chart_{{ id }}.noData('{% trans "No price data available." %}');
                chart_{{ id }}.showLegend(false);
                chart_{{ id }}.showXAxis(false);
                chart_{{ id }}.showYAxis({% if show_y_axis %}true{% else %}false{% endif %});
                {% if show_y_axis %}chart.yAxis.axisLabel('{% trans "Price" %}').tickFormat(d3.format(',.2f'));{% endif %}
                chart_{{ id }}.tooltipContent(function(key, x, y, e, graph) {
                    return y + ' € {% trans "at" %} ' + e.point.x;
                });
                d3.select('#chart_{{ id }} svg')
                    .datum([{
                        area: true,
                        values: {% autoescape off %}{{ data }}{% endautoescape %},
                        key: '{{ id }}',
                        color: '{{ color }}'
                    }])
                    .transition().duration(500)
                    .call(chart_{{ id }});
                nv.utils.windowResize(chart_{{ id }}.update);
                return chart_{{ id }};
            }
        );
    </script>
{% endspaceless %}