{% if is_paginated %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <ul class="pagination pagination-sm">
                <li class="{% if page_obj.has_previous %}"><a href="{% if slug %}{% url view_url_name page=page_obj.previous_page_number slug=slug %}{% else %}{% url view_url_name page=page_obj.previous_page_number %}{% endif %}"{% else %}disabled"><span{% endif %}>&laquo;{% if page_obj.has_previous %}</a>{% else %}</span>{% endif %}</li>
                {% for page_number in paginator.page_range %}
                    {% if forloop.first and page_obj.has_previous %}
                        <li><a href="{% if slug %}{% url view_url_name page=page_number slug=slug %}{% else %}{% url view_url_name page=page_number %}{% endif %}">{{ page_number }}</a></li>
                    {% elif forloop.last and page_obj.has_next %}
                        <li><a href="{% if slug %}{% url view_url_name page=page_number slug=slug %}{% else %}{% url view_url_name page=page_number %}{% endif %}">{{ page_number }}</a></li>
                    {% else %}
                        <li class="{% if page_obj.number == page_number %}active{% endif %}"><a href="{% if slug %}{% url view_url_name page=page_number slug=slug %}{% else %}{% url view_url_name page=page_number %}{% endif %}">{{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="{% if page_obj.has_next %}"><a href="{% if slug %}{% url view_url_name page=page_obj.next_page_number slug=slug %}{% else %}{% url view_url_name page=page_obj.next_page_number %}{% endif %}"{% else %}disabled"><span{% endif %}>&raquo;{% if page_obj.has_previous %}</a>{% else %}</span>{% endif %}</li>
            </ul>
        </div>
    </div>
{% endif %}
