<div class="media">
    <a class="pull-left" href="{{ product.offer_url }}">
        <img class="media-object" ng-src="{{ product.image_urls.medium }}"
        >
    </a>
    <div class="media-body">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <button class="btn btn-danger pull-right" ng-click="open()" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span ng-if="product.artist">{{ product.artist }}: </span>{{ product.title }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3 col-md-2">Current price:</div>
                    <div class="col-xs-9 col-md-10">
                        <span ng-if="product.current_price.value">{{ product.current_price.currency }} {{ product.current_price.value | number: 2 }}</span>
                        <span ng-if="!product.current_price.value">No current price available</span>  (as of {{ product.current_price.date_seen | date: 'MMMM d, y hh:mm a Z' }} - <span data-toggle="tooltip" data-placement="top" title="Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on {{ siteName }} at the time of purchase will apply to the purchase of this product.">Details</span>)</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-2">Highest price:</div>
                    <div class="col-xs-9 col-md-10" ng-show="product.highest_price">{{ product.highest_price.currency }} {{ product.highest_price.value | number: 2 }} (as of {{ product.highest_price.date_seen | date: 'MMMM d, y hh:mm a Z' }} - <span data-toggle="tooltip" data-placement="top" title="Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on {{ siteName }} at the time of purchase will apply to the purchase of this product.">Details</span>)</div>
                    <div class="col-xs-9 col-md-10" ng-hide="product.highest_price">No highest price available.</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-2">Lowest price:</div>
                    <div class="col-xs-9 col-md-10" ng-show="product.lowest_price">{{ product.lowest_price.currency }} {{ product.lowest_price.value | number: 2 }} (as of {{ product.lowest_price.date_seen | date: 'MMMM d, y hh:mm a Z' }} - <span data-toggle="tooltip" data-placement="top" title="Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on {{ siteName }} at the time of purchase will apply to the purchase of this product.">Details</span>)</div>
                    <div class="col-xs-9 col-md-10" ng-hide="product.lowest_price">No lowest price available.</div>
                </div>
                <div class="row" ng-repeat="subscription in product.subscription_set">
                    <div class="col-xs-2 col-md-1">Limit:</div>
                    <div class="col-xs-9 col-md-10">{{ product.current_price.currency }} <span editable-number="subscription.price_limit" e-step="0.01" onaftersave="product.$update()">{{ subscription.price_limit | number: 2 }}</span>  (<span editable-email="subscription.email_notification.email" onaftersave="product.$update()">{{ subscription.email_notification.email }}</span>)</div>
                    <div class="col-xs-1">
                        <button class="close" ng-if="product.subscription_set.length > 1" ng-click="product.removeSubscription($index); product.$update()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row responsive-chart">
    <div class="col-xs-12">
        <img ng-src-responsive="[ [ 'default', '{{ product.getChartUrl('default') }}'], ['small', '{{ product.getChartUrl('small') }}' ], ['medium', '{{ product.getChartUrl('medium') }}' ], ['large', '{{ product.getChartUrl('large') }}' ] ]">
    </div>
</div>
